<ion-header>
    
</ion-header>


<ion-content>     
    <p align="center"> 
  <img src="../../assets/mjlogo.png" align="center" style="width : 100px ; height : 100px" >      
</p>   



<ion-slides class="dots"  align="center"  pager="true" autoplay="3000" loop="true" slidesPerView="1.6" >
  <ion-slide>
    <div class="ion-padding" style="background: url(../../assets/images/back-main.jpg)">
    
    
    <p>LONDON’S FIRST COFFEE SHOP WAS OPENED BY AN ECCENTRIC GREEK NAMED PASQUA ROSEÉ IN 1652. IN 2018, ANOTHER ECCENTRIC HALF GREEK, JON ANTONIOU, FOUNDED MARY-JANE’S COFFEE IN BRISTOL, HAVING BEEN BORN AND RAISED IN THE SOUTH WEST.</p>
  </div>
  </ion-slide>
  <ion-slide>
      <div class="ion-padding" style="background: url(../../assets/images/back-main.jpg)">
    
    
    <p>MARY-JANE’S WAS ESTABLISHED TO BRING CANNABIDIOL (CBD) INFUSION TO THE MAINSTREAM BY PROVIDING A QUALITY, AFFORDABLE AND GREAT-TASTING WAY TO TAKE CBD DAILY. CBD IS A NATURALLY OCCURRING SUBSTANCE EXTRACTED, TOGETHER WITH OVER 100 OTHER NUTRIENTS, FROM HEMP PLANTS. IF TAKEN REGULARLY WITH FOOD AND/OR DRINK IT CAN SUPPORT THE BODY’S ENDOCANNABINOID SYSTEM WHICH HELPS MAINTAIN YOUR HEALTH AND BALANCE.</p>
  </div>
  </ion-slide>
  <ion-slide>
      <div class="ion-padding" style="background: url(../../assets/images/back-main.jpg)">
    
    
    <p>FROM THE OUTSET, WE HAVE ENSURED THAT DECISION-MAKING FOR MARY-JANE’S IS BASED ON JON AND THE TEAM’S SHARED VALUES AND BELIEFS: FOOD SHOULD BE HEALTHY AND TASTY. OUR MENU SHOULD BE INCLUSIVE FOR MAJOR DIETARY REQUIREMENTS AND INTOLERANCES. OUR DEFAULT CHOICE ON ANY DECISION WILL BE THE SUSTAINABLE OPTION WHETHER THAT BE OUR SUPPLIERS, SINGLE-USE PRODUCTS OR UTILITY PROVIDERS. WE WILL BE CUSTOMER-DRIVEN AND WANT EVERY CUSTOMER TO HAVE A 10-STAR EXPERIENCE AT MARY-JANE’S COFFEE.</p>
  </div>
  </ion-slide>
  <ion-slide>
      <div class="ion-padding" style="background: url(../../assets/images/back-main.jpg)">
    
    
    <p>ABOVE ALL, WE WANT MARY-JANE’S TO BE A PLACE YOU CAN TRUST TO PROVIDE TOP QUALITY CBD.</p>
  </div>
    
  </ion-slide>

  <ion-slide>
      <div class="ion-padding" style="background: url(../../assets/images/back-main.jpg)">
    
    
    <p>OUR FLAGSHIP CBD COFFEE SHOP OPENED ON FRIDAY 31ST MAY 2019 ON THE VIBRANT WHITELADIES ROAD, BRISTOL. LOOK OUT FOR ANOTHER OPENING NEAR YOU SOON.</p>
  </div>
  </ion-slide>
</ion-slides>

<ion-footer>
  
</ion-footer>


