.button-bottom{
    position: absolute;
    bottom: 30%;
    width: 100%;
    }

   
   
    
    .item.item-trns {
        border-color: rgba(0, 0, 0, 0);
        background-color:#2f3d48;
        color: black; 
    }
    .social {
 
        --background-activated: #96a796;
        color:#ffffff;
      }

      .add{

        --background-activated: #96a796;
      }