
<ion-header>


</ion-header>

<ion-content>


  <ion-grid>
    <ion-row>

      <ion-col>
          <p align="center"> 
        
              <img display= "block"  src="../../assets/img/shutterstock_1204088230.jpg" vertical-align = "top"  style="width : 95% ; height : 25%; border-radius: 3%;" >    


              <ion-button class="add" expand="block" href="https://www.google.com/maps/dir/?api=1&destination=51.463367,-2.609430" target="_system">  
              50 WHITELADIES ROAD, CLIFTON,<br> BRISTOL BS8 2NH
                      
                    </ion-button>       
                    <ion-button class="add" expand="block" (click)=Call() >
                           0117 973 3857   
                          
                        </ion-button>     
      
                        <ion-button class="add" expand="block" (click)="openSite()" >
                                www.mary-janes.co.uk
             
                  
                              
                            </ion-button>
                            

                            
                  
              
          
      </p>    

      </ion-col>
    </ion-row>
  </ion-grid>
        
        <p align ="center" >
                <ion-button class="social" (click)=openLocation()>
                        <ion-icon slot="icon-only" name="logo-facebook" ></ion-icon>
                        
                      </ion-button >       
                      <ion-button class="social" (click)=openMenu()>
                            <ion-icon slot="icon-only" name="logo-twitter" ></ion-icon>
                            
                          </ion-button>     
        
                          <ion-button class="social" (click)=openStory()>
                                <ion-icon slot="icon-only" name="logo-instagram" ></ion-icon>
                                
                              </ion-button>     
        
           
        
                            </p>
                            <p align ="center">
                            <ion-text color="primary"><H4> @maryjanesjava</H4> </ion-text>
                          </p>
                          <p align="center"> 
                              <img src="../assets/images/logo-back.png" align="center" style="width : 200px ; height : 200px" >      
                            </p> 


</ion-content>





<ion-footer no-shadow >

    
        

</ion-footer>

