<ion-header>
  
</ion-header>

<ion-content>
    

      <!-- <div *ngIf="scannedData">
        <p>
          Scanned Code Text : <b>{{ scannedData["text"] }}</b>
        </p>
        <p>
          Scanned Code Format : <b>{{ scannedData["format"] }}</b>
        </p>
      </div> -->
      
      <ion-grid>
          <ion-row class="row pincode-input">
            <div  class="errorMessage" *ngIf="!message">
        <span >PLEASE ENTER CORRECT PASSCODE</span>
  </div>
            <ion-col class="col col-10 col-offset-10">
              
              <span *ngIf="passcode[0]">
               <h3><b>{{ passcode[0] }}</b></h3>
              </span>
            </ion-col>&nbsp;&nbsp;
            <ion-col class="col col-10 col-offset-10">
              <span *ngIf="passcode[1]">
                  <h3><b> {{ passcode[1] }}</b></h3>
              </span>
            </ion-col>&nbsp;&nbsp;
            <ion-col class="col col-10 col-offset-10">
              <span *ngIf="passcode[2]">
                <h3><b>{{ passcode[2] }}</b></h3>
              </span>
            </ion-col>&nbsp;&nbsp;
            <ion-col class="col col-10 col-offset-10">
              <span *ngIf="passcode[3]">
                  <h3><b> {{ passcode[3] }}</b></h3>
              </span>
            </ion-col>
          </ion-row>
          
          </ion-grid>
            <ion-grid>
          <ion-row class="row1">
            <ion-col col-md-3>
              <button ion-button outline class="number" (click)="add('1')"><h3><b>1</b></h3></button>
            </ion-col>
            <ion-col col-md-3>
              <button ion-button outline class="number" (click)="add('2')"><h3><b>2</b></h3></button>
            </ion-col>
            <ion-col col-md-3>
              <button ion-button outline class="number" (click)="add('3')"><h3><b>3</b></h3></button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-md-3>
              <button ion-button outline class="number" (click)="add('4')"><h3><b>4</b></h3></button>
            </ion-col>
            <ion-col col-md-3>
              <button ion-button outline class="number" (click)="add('5')"><h3><b>5</b></h3></button>
            </ion-col>
            <ion-col col-md-3>
              <button ion-button outline class="number"  (click)="add('6')"><h3><b>6</b></h3></button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-md-3>
              <button ion-button outline class="number" (click)="add('7')"><h3><b>7</b></h3></button>
            </ion-col>
            <ion-col col-md-3>
              <button ion-button outline class="number" (click)="add('8')"><h3><b>8</b></h3></button>
            </ion-col>
            <ion-col col-md-3>
              <button ion-button outline class="number" (click)="add('9')"><h3><b>9</b></h3></button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-md-3></ion-col>
            <ion-col col-md-3>
              <button ion-button outline class="number" (click)="add('0')"><h3><b>0</b></h3></button>
            </ion-col>
            <ion-col col-md-3>
              <div   (click)="delete()"><ion-icon class=back_button  name="backspace"></ion-icon></div>
            </ion-col>	
          </ion-row>
          <ion-row>
            <ion-col col-md-3></ion-col>
            
            <ion-col col-md-3></ion-col>
          </ion-row>
        </ion-grid>
        
        
        
          
        
        <ion-button expand="block" (click)="confirm()">CONFIRM</ion-button>


      

      















     
     
     
      






</ion-content>
