ion-icon {
    font-size: 128px;
    color: #2f3d48 ;
    opacity: 1!important;
  }

  .sqare_button {
    height: 200px;
    --vertical-align: middle;
    --padding-start: 10px;
    --padding-end: 10px;
    --ripple-color: darkcyan;
    --padding-bottom: 2px !important;
    --box-shadow: none;
    --color: #2f3d48;
    //--opacity: .5;
    font-weight: bold;
    --background-activated: #96a796;
    --background:rgba(255, 255, 255, 0.5);
    
    
    
}
.vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 30px;
  }

  *{
    font-family: 'Helvetica';
  }

  // ion-button {
  //   font-weight: bold;
  //   --background-activated: #96a796;
  //   --background: #ffffff;
  //  // --opacity:.7;
  // }

  