<ion-header>
    
  </ion-header>


  <ion-content>     
      <p align="center"> 
    <img src="../../assets/mjlogo.png" align="center" style="width : 100px ; height : 100px" >      
  </p>          
  


<p align="center">

    <ion-button  fill="solid"  size="large" class="sqare_button" routerLink="/tabs/tabs/tab6" >
      <div>
        <ion-icon  src="/../assets/_ionicons_svg_md-pin.svg"></ion-icon><br>
        LOCATIONS
      </div>
    </ion-button>

    <ion-button fill="solid"  size="large" class="sqare_button" (click)="openLocalPdf()" >
      <div>
        <ion-icon  src="/../assets/_ionicons_svg_md-cafe.svg"></ion-icon><br>
        MENU
      </div>
    </ion-button>
    

  <ion-button fill="solid"  size="large" class="sqare_button" routerLink="/tabs/tabs/tab8">
      <div>
        <ion-icon  src="/../assets/_ionicons_svg_md-people.svg"></ion-icon><br>
        OUR STORY
      </div>
    </ion-button>

    <ion-button fill="solid"  size="large" class="sqare_button" (click)="goToAccountSetting()">
      <div>
        <ion-icon  src="/../assets/_ionicons_svg_md-settings.svg"></ion-icon><br>
        ACCOUNT
      </div>
    </ion-button>


    

  




    
                    
  </ion-content>

