<ion-content>
    <p align="center"> 
      <img src="../../assets/mjlogo.png" align="center" style="width : 100px ; height : 100px" >      
    </p> 
    <ion-slides  pager="true" autoplay="3000" loop="true" slidesPerView="1.6" >
        <ion-slide>
          <img src="../../assets/images/back-main2.jpg"/>
          <h2>CONGRATULATIONS <b>!!!</b></h2>
          <p>WELCOME TO THE MARY-JANE'S COFFEE COMMUNITY</p>
        </ion-slide>
        <ion-slide>
          <img src="../../assets/images/back-main2.jpg"/>
          <h2>COLLECT LOYALTY POINTS</h2>
          <p>TELL YOUR BARISTA YOU ARE USING THE LOYALTY APP AND THEY WILL ENTER A CODE IN THE APP TO ADD POINTS TO YOUR ACCOUNT</p>
        </ion-slide>
        <ion-slide>
          <img src="../../assets/images/back-main2.jpg"/>
          <h2>CHECK YOUR POINTS</h2>
          <p>SELECT LOYALTY IN THE MAIN MENU TO CHECK YOUR POINTS AT ANY TIME</p>
          <ion-row right>  
            <ion-col>  
              <ion-button size="large" class="add" color="primary" (click)="goToHomePage()">
                GOT IT!
              </ion-button>
            </ion-col> 
          </ion-row>
        </ion-slide>
    </ion-slides>
</ion-content>
